<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bruno Viewer</title>

    <link type="text/css" rel="stylesheet" th:href="@{/static/css/reset.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/errorpage.css}">
</head>
<body>
    <!--
        this error page style is from https://codepen.io/selcukcura/pen/XeQpEv
    -->
    <div class="container">
        <div class="copy-container center-xy">
            <div class="title-container">
                <p>
                    404, page not found.
                </p>
                <span class="handle"></span>
            </div>
        </div>
    </div>

    <script th:src="@{/static/js/errorpage.js}"></script>
</body>
</html>